<div class="ml-10 mr-10 mt-50 overflow-hidden">
<h1 class="text-7xl pt-10 text-gray-300">{{ title }}</h1>

<p class="text-slate-600 text-center pb-20">toggle between lowercase text and UPPERCASE TEXT</p>
<div class="mt-10">
  <div class="mt-1">
    <input (keyup)="lowertoupper()" autocomplete="off" type="text" name="lower" id="lower" class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md" placeholder="your text in lowercase" [(ngModel)]="input">
  </div>
</div>



<div class="mt-10">
  <div class="mt-1">
    <input (keyup)="uppertolower()" autocomplete="off" type="text" name="upper" id="upper" class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md" placeholder="YOUR TEXT IN UPPERCASE" [(ngModel)]="output">
  </div>
</div>

</div>




